@using Delivery.Domain.Food;
@model Comida
@{
    IEnumerable<Comida> lista = ViewBag.Comidas;
    var listaCategorias = Enum.GetValues(typeof(CategoriaComida)).Cast<CategoriaComida>().ToList();
    IEnumerable<CaracteristicaComida> caracteristicasTotales = ViewBag.caracteristicas;

    //Cambiar cuando se edite la comida
    Dictionary<int, string> caracteristicas = new Dictionary<int, string>();
}
<!--Body-->
<div class="container mt-3">
    <h1>Menú del día</h1>
    <div class="row container">

        @*Cabecera*@
        <div class="row mb-3">
            <div class="col">
                <select class="form-select">
                    <option disable selected hidden>Todo</option>
                    @foreach(CategoriaComida item in listaCategorias)
                    {
                        <option value="@Convert.ToInt32(item)">@item.ToString()</option>
                    }
                </select>
            </div>
            <div class="col input-group">
                <input type="text" class="form-control" placeholder="Busqueda por nombre...">
                <button class="btn btn-light">Buscar</button>
            </div>
        </div>

        @*Agregar Característica de comida*@
        <div class="row">
            <div class="col">
                <button class="btn btn-success" data-bs-toggle="offcanvas" href="#RegistrarComida">Agregar comida</button>
                <a class="btn btn-secondary" asp-action="CaracteristicaComida">Agregar Característica de comida</a>
            </div>
        </div>


        @*Aplicar Foreach*@
        @if (lista.Count() > 0){
            @foreach (Comida item in lista){
                <div class="col-sm-6 mt-3">
                    <div style="border-radius: 50px;" class="card">
                        <svg style="border-top-left-radius: 50px; border-top-right-radius: 50px;" class="bd-placeholder-img" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid meet" focusable="false">
                            <defs>
                                <pattern id="imagen+@item.ID" width="100%" height="100%">
                                    <image x="0" y="-50" width="100%" xlink:href="/imagenes/Comida/@item.Imagen" />
                                </pattern>
                            </defs>
                            <rect width="100%" height="100%" fill="url(#imagen+@item.ID)" />
                        </svg>
                        <div class="card-body">
                            <h5 class="card-title">
                                @item.Nombre
                            </h5>
                            <p class="card-text" style="text-align: justify;">
                                @item.Descripcion
                            </p>
                            <div class="row">
                                <div class="col-9">
                                    <div class="input-group mb-3">
                                        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#RegistrarComida">
                                            Editar
                                        </a>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#EliminarComida">
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                                <div class="col mb-3">
                                    <div class="alert alert-success" role="alert">
                                        <p style="text-align: center; height: 5px;">S/. @item.Precio</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else{
            <div class="alert alert-primary mt-5" role="alert">
                No hay elementos a mostrar, ingrese nuevos datos ahora
            </div>
        }


    </div>
</div>


<br>
<br>


<!--navi-->
@if(lista == null){
<div class="container" style="width: 300px;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
}

<!--Eliminar comida-->
<div class="modal fade" id="EliminarComida" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Advertencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Deseas eliminar este elemento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!--Comida registro y edit-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="RegistrarComida">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Agregar comida</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <form asp-action="AgregarComida" id="formulario" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger alter alert-danger"></div>

                <input type="hidden" name="listaIndicescarac" id="arrayids" value=""/>

                <span class="alert-danger" asp-validation-for="Nombre"></span>
                <input asp-for="Nombre" type="text" class="form-control mb-3" placeholder="Nombre del plato"/>

                <span class="alert-danger" asp-validation-for="Descripcion"></span>
                <textarea asp-for="Descripcion" class="form-control mb-3" placeholder="Descripción"></textarea>

                <span class="alert-danger" asp-validation-for="Precio"></span>
                <input asp-for="Precio" type="number" class="form-control mb-3" placeholder="Precio" />

                <span class="alert-danger" asp-validation-for="Stock"></span>
                <input asp-for="Stock" type="number" class="form-control mb-3" placeholder="Stock"/>


                <div class="col">

                    <!--Checkbox-->
                    <div class="form-check mb-3">
                        <input asp-for="MenuDelDia" class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            Menú del día
                        </label>
                    </div>

                    <span id="valCategoria" class="alert-danger"></span>
                    <div class="form-floating">
                        <select asp-for="Categoria" id="selectCategoria" class="form-select mb-3">
                            <option selected disabled hidden value="">No elegido</option>
                                @foreach (CategoriaComida item in listaCategorias)
                                {
                                    <option value="@Convert.ToInt32(item)">@item.ToString()</option>
                                }
                        </select>
                        
                        <label for="floatingInput">Tipo de comidas</label>
                    </div>


                    @*Características comida*@
                    <span id="valCaracteristicas" class="alert-danger"></span>
                    <div class="input-group mb-1">
                        <select class="form-select mb-1" id="selectCaracteristica" style="height: 40px;">
                            <option selected disabled hidden value="">Agregar posibles características</option>
                                @foreach (CaracteristicaComida item in caracteristicasTotales)
                                {
                                    <option value="@item.Id">@item.Nombre</option>
                                }
                        </select>
                        <button class="btn btn-secondary" id="agregarCaracteristica" type="button" style="height: 40px;">Agregar</button>
                    </div>
                    <p class="form-text">Lista de posibles características:</p>
                    <ul id="listaCaracteristicas" class="list-group mb-3 list-group-flush">
                    </ul>


                    <hr />
                    @*Enviar imagen*@
                    @if (ViewBag.imagenNula is not null)
                    {
                        <span class="alert-danger">@ViewBag.imagenNula</span>
                    }
                    <input asp-for="Imagen" type="file" class="form-control" name="files" accept="image/*" />
                    
                    <hr />

                    <button type="submit" class="btn btn-success">Crear</button>
            </form>
        </div>
    </div>
</div>


@if (!ViewBag.modeloValido)
{
    <script>
        document.getElementById("RegistrarComida").classList.add("show");
    </script>
}

@section Scripts{
    <script>
        var listajax = []; //Lista de indices de las características

        //Logica caracteristicas
        $('#agregarCaracteristica').click(function () {
            let numero = $('#selectCaracteristica').val();
            if(numero == null){
                $('#valCaracteristicas').text('Necesita marcar una de las opciones');
                setTimeout(function () {
                    $("#valCaracteristicas").fadeOut();
                }, 1500);
                setTimeout(function () {
                    // Mostrar el elemento nuevamente
                    $('#valCaracteristicas').text('');
                    $("#valCaracteristicas").fadeIn();
                }, 1500);
            }
            else{
                let elementos = $("#listaCaracteristicas").find("li");

                $('#valCaracteristicas').text('');
                let valor = $('#selectCaracteristica').find("option:selected").html();
                let valorRepetido = false;

                elementos.each(function () {
                    if ($(this).text() == valor) valorRepetido = true
                });

                if (!valorRepetido) {
                    let li = $('<li class="list-group-item">' + valor + '</li>');
                    $('#listaCaracteristicas').append(li);
                    listajax.push(parseInt(numero));
                }
                else{
                    $('#valCaracteristicas').text('Esta característica ya ha sido registrada');
                    setTimeout(function () {
                        $("#valCaracteristicas").fadeOut();
                    }, 1500);
                    setTimeout(function () {
                        $('#valCaracteristicas').text('');
                        $("#valCaracteristicas").fadeIn();
                    }, 1500);
                }
               
            }
        });

        //submit
        $('#formulario').on('submit', function (evt) {

            //Validar categoria
            let num = $('#selectCategoria').val();
            if(num == null){
                $('#valCategoria').text('Necesita marcar una de las opciones');
                evt.preventDefault();
            }
            else{
                $('#valCategoria').text('');
                $('#arrayids').val(JSON.stringify(listajax)) //Pasar sin ajax
            }


        });
    </script>
}